* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 50px;
}

.top {
    background-color: #1F2937;
    padding: 50px 20%;
}

header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 16px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 100px 0;
    flex-wrap: wrap;
}

.banner .text {
    flex: 2;
}

.banner .image{
    flex: 3;
    min-width: 250px;
}

.banner img {
    max-width: 100%;
}

.container {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.images img {
    width: 250px;
    border-radius: 5px;
    border: 2px solid blue;
}

.testimonials {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20%;
}

.signup {
    padding: 100px 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round {
    border: 1px solid blue;
    width: 90%;
    border-radius: 5px;
    padding: 32px 10%;
    display: flex;
    justify-content: space-between;
}

.round .desc {
    flex: auto;
}

.round button {
    flex: 0;
}

footer {
    background-color: #1F2937;
    text-align: center;
    display: flex;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
}