* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 50px;
}

.top {
    padding: 50px 300px 0 300px;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    flex: flex-start;
}

.links {
    display: flex;
    gap: 16px;
}

.banner {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 100px 0;
}

.banner img {
    max-width: 500px;
}

.container {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.images img {
    width: 250px;
    border-radius: 5px;
    border: 2px solid blue;
}

.testimonials {
    background-color: #E5E7EB;
    text-align: center;
    padding: 100px 300px;
}

.signup {
    padding: 100px 400px;
}

.round {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 32px 100px;
    display: flex;
    justify-content: space-between;
}

button {
    flex-shrink: 0;
}

footer {
    background-color: #1F2937;
    padding: 100px 300px;
    text-align: center;
}