* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: auto;
    color: #040103;
    background-color: #f3e2eb;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo img {
    width: 64px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #c1676b;
    padding: 10px 20%;
}

.links {
    display: flex;
    gap: 16px;
}

.links,
.text p,
footer,
.round p {
    font-size: 16px;
    color: #fff;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.links a:hover {
    color: #aaa;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 100px 0;
    flex-wrap: wrap;
    background-color: #c1676b;
    padding: 50px 20%;
}

.banner .text {
    flex: 4;
}

.banner .image {
    flex: 3;
}

.banner img {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    font-size: 18px;
    border-radius: 5px;
    background-color: #c18f67;
    color: #fff;
}

button:hover {
    color: #aaa;
    background-color: #ecdcd0;
    cursor: pointer;
}

.banner button {
    padding: 5px 25px;
    border: 1px solid transparent;
}

.container {
    text-align: center;
}

.image-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding-top: 100px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 50px 0 100px 0;
}

.images p {
    color: #1F2937;
    font-size: 16px;
}

.images img {
    width: 250px;
    border-radius: 5px;
    border: 3px solid #c18f67;
}

.images img:hover {
    opacity: 0.7;
}

.testimonials {
    background-color: #ecdcd0;
    padding: 100px 25%;
}

.testimonials, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
}

.quotee {
    margin-left: auto;
    font-size: 26px;
    font-weight: 700;
}

.signup {
    padding: 100px 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round {
    border: 1px solid #c18f67;
    background-color: #c18f67;
    width: 100%;
    border-radius: 5px;
    padding: 32px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.round .desc {
    flex: auto;
}

.big {
    font-size: 28px;
    color: #fff;
}

.round button {
    width: 150px;
    height: 40px;
    border: 1px solid #fff;
    flex: none;
}

footer {
    background-color: #c1676b;
    text-align: auto;
    padding: 100px 0;
}

footer a {
    color: #ffffff;
}